<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎登录企业信息系统快速开发平台</title>
    <link href="../../Content/themes/default/easyui.css" rel="stylesheet"/>
    <link href="../../Content/themes/icon.css" rel="stylesheet"/>
    <script src="../../script/jquery.min.js"></script>
    <script src="../../script/jquery.easyui.min.js"></script>
    <script src="../../script/jquery.easyui.validate.js"></script>
    <script src="../../script/jquery.cookie.js"></script>
    <script src="../../script/changeEasyuiTheme.js"></script>
</head>
<body>
<div id="cc1" class="easyui-layout" fit="true">
    <div data-options="region:'north',split:true,border:false" style="padding:5px;">
        <div id="cc2" class="easyui-layout" fit="true">
            <div data-options="region:'center',border:false" style="width: 400px;height:300px">
                <table class="easyui-datagrid" id="dg" title="待办事宜">
                    <thead>
                    <tr>
                        <th data-options="field:'WfTitle',width:500,align:'center'">标题</th>
                        <th data-options="field:'WfType',width:140,align:'center'">类型</th>
                        <th data-options="field:'Wfstatus',width:140,align:'center'">当前状态</th>
                        <th data-options="field:'WfCreateDate',width:200,align:'center'">日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    <tr>
                        <td data-options="width:500,align:'center'">到货信息</td>
                        <td data-options="width:140,align:'center'">收货</td>
                        <td data-options="width:140,align:'center'">到货</td>
                        <td data-options="width:200,align:'center'">2018-05-18 12:12:12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script language="javascript">

</script>
</body>

</html>